.caption {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.video {
    width: 70%;
    height: 550px;
    padding-bottom: 10px;
}

.caption {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

